.avatar-container {
  display: flex;
  justify-content: center;
}
.logo{
font-weight: 600;
font-size: larger;
text-decoration: none;
color:white;
}
.logo:hover {
text-decoration: none;
}
/* .addWrap{
float: right;
margin-top: 20%;
margin-right: 10%;
} */